@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* img {
  width: 100%;
} */

body {
  width: 100%
}

/* .big-container {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* --------------------NavBar ----------*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background:#003541;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  list-style-type: none;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  
}

.nav-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.NavMenu {
  display: inline-flex;
  align-items: center;
}

.Nav-Link {
  appearance: none;
  background-color: #e9fab0;
  border: none;
  outline: none;
  cursor: pointer;

  padding:10px 20px;
  border-radius: 8px;
  color: #003541;
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  /* text-shadow: 0px 3px rgba(0, 0, 0, 0.2); */
}

.Nav-Link:hover {
  box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.2);
}

.Nav-Link:active {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #e9fab0;
  font-size: 20px;
}

.login-btn-container {
  display: inline-flex;
}

.cart-icon {
  padding:10px 20px;
  font-size: 20px;
  font-weight: 700;
  transition: 0.1s;

  
  background: #e9fab0;
  color: #003541;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8%;
  border: none;
  text-decoration: none;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------landing page-------------------------------------------------- */

.srt-shp-btn {
  appearance: none;
  background-color: #e9fab0;
  border: none;
  outline: none;
  cursor: pointer;

  padding:10px 20px;
  border-radius: 8px;
  color: #003541;
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

.srt-shp-btn:hover {
  box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.2);
}

.srt-shp-btn:active {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.discover-container {
  background-image: url('images/final-lp.png');
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.discover-container h4 {
  padding-bottom: 15px;
}

.discover-container h1 {
  color: white;
}

.big-title {
  font-size: 1.4rem;
  color: black;
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: black;
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.landing-area-container .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}


/* --------------footer----------- */

.footer-container {
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 }
.cat-card {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: none;
  background: #C8E9E3;
  border-radius: 4px;
  margin: 15px 0;
 }

 .cat-card img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
 }

.cat-card:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.cat-card h5 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #101434;
  background-color: #D3FB90;
}

/* ----------------------------------shop------------------------------ */
.shop-search-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf9e7;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eaf9e7;
  /* #eeccf6 */
}

/* ----------------------------------product card------------------------------ */  

.product-card {
  background: #c0e6ba;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 10px 5px #b2bec3;
  text-align: center;
}


.pro-img {
  object-fit: contain;
  max-width: 100%;
  border-radius: 100px;
}

.pro-details h4 {
  font-size: 18px;
  font-weight: bold;
  color:#013237;
}

.pro-details p {
  text-align: left;
  color: #4ca771;
}
.pro-details h3 {
  text-align: left;
  text-align: left;
}

.pro-details button { 
  background-color: #eaf9e7;
  color: #013237;
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
  
}

.pro-details:hover button {
  box-shadow: 0px 10px 5px 5px #b2bec3;
}

/* .details-btn {
  text-align: center;
} */
/* ---------------------------cart------------------------------------- */

.cart-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86c2f3;
  margin-top: 30px;
  height: 60vh;
  font-size: 20px;
  font-weight: 700;
}